Package: mcloud
Version: 1.3
Section: custom
Priority: optional
Architecture: all
Depends: sshfs, lvm2, cryptsetup, openssh-server, openssh-client, nfs-kernel-server, nfs-common, portmap, acl
Essential: no
Maintainer: https://github.com/koen-github
Description: Yet Another cloud system with encryption support
